
<div class="container bg-info w-100 h-100 p-0">
  <header class="h-10 w-100 bg-secondary">
    <ul class="nav justify-content-center ">
      <li class="nav-item">
        <a class="nav-link " routerLink="home" routerLinkActive="active">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="contact" routerLinkActive="active">contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="map" routerLinkActive="active">map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="sinin" routerLinkActive="active">sinin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="sinup" routerLinkActive="active">sinup</a>
      </li>
    </ul>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>



